<!--edit投稿編集画面、/books/id/edit-->

<h1>Editing Book</h1>

<!--投稿したやつが修正できるようにすること-->
<!--updatebookの更新ボタンもつけること-->


 <span>
   <%= link_to "show",book_path %>
  </span>
  <!--show、投稿詳細-->

    <span>
    <%= link_to "Back","/books" %>
  </span>
  <!--Back、投稿一覧表示-->
