<!--top画面の表示内容-->

<h1>
    ようこそ
     <strong>Bookers</strong>
     <!--強調のためのstrong-->
    へ
</h1>
<p>
 <strong>Bookers</strong>
    では、さまざまな書籍に関する意見や
</p>
<p>印象を共有し交換することができます</p>
<p>
<%= link_to "Start", "/books" %>
<!--リンクlink-toで作る-->
</p>