<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        <h1>
        "ようこそ"
        <strong>Bookers</strong>
        "へ"
        </h1>
        <p>
            <strong>Bookers</strong>
            "では、さまざまな書籍に関する意見や"
        </p>
        <p>印象を共有し交換することができます</p>
        <p>
            <a hef="/books">start</a>
        </p>
    </body>
</html>
<!--下記は元の記述-->
<!--<h1>Homes#top</h1>-->
<!--<p>Find me in app/views/homes/top.html.erb</p>-->
